body, h1, .navlink, h2{
    font-family: "Montserrat";
    font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3{
    font-size: 1.5rem;
    font-weight: 700;
}

.text-color-white{
    color: white;
}

#title {
    background-color: #ff4c68;
    padding-bottom: 7%;
}

#title a{
    color: white
}

.container-fluid{
    padding: 3% 15%;
}

#header-dog{
    width: 50%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 2.5rem;
}

.navbar{
    padding: 0 0 4.5rem 0;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-weight: 300;
}

.header-buttons{
    margin: 5% 3% 3% 0;
}

.navbar-toggler{
    border-color: white;
    border-width: 2px;
}

.fa-bars{
    color: white;
}

@media (max-width: 991px){
    #title{
        text-align: center;
    }

    #header-dog{
        position: static;
        transform: rotate(0);
    }
}

#features{
    text-align: center;
    padding: 7% 15%;
    background-color: white;
    position: relative;
    z-index: 2;
}

.feature-box{
    padding: 3%;
}

#features .fas{
    color: #ef8172;
    transition: 0.5s;
    font-size: 5rem;
    margin-bottom: 1rem;
}

#features .fas:hover{
    color: #ff4c68;
}

#features p{
    color: #8f8f8f;
}

#testimonials{
    background-color:#ef8172;
    text-align: center;
    color: white;
}

#testimonials h2{
    font-weight: bold;
    font-size: 3rem;
}

#testimonials img{
    border-radius: 50%;
    width: 15%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding: 3%;
}

#press img{
    width: 15%;
    margin: 20px 20px 50px;
}

#testimonials .carousel-item{
    padding: 7% 15%;
}

/* Pricing Section */

#pricing{
    text-align: center;
    padding: 100px;
}

.card{
    margin-bottom: 2rem;
}

/* Contact Section */

#cta{
    text-align: center;
    background-color: #ff4c68;
    color: white;
    padding: 3% 15%;
}

#cta h3{
    font-weight: 900;
    font-size: 3.0rem;
}

#cta button{
    margin: 3% 3% 3% 0;
}

/* Footer Section */

footer{
    text-align: center;
    margin: 4% 0;
}

footer .fab{
    font-size: 1rem;
    padding: 0 20px 20px 0;
}

footer .fas{
    font-size: 1rem;
}

footer p{
    color: #8f8f8f;
}